body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #EFEFEF;
	font-size: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ui-widget {
	padding-left: 22px;
	color: #515151;
	font-weight: bold;
}

label {
	padding-left: 22px;
	color: #515151;
}

.box {
	width: 400px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	text-align: left;
}

.box input[type="text"], .box input[type="password"] {
	border: 0;
	background: #FFECF2;
	border: 2px solid #F50E4F;
	display: block;
	margin: 20px auto;
	text-align: left;
	padding: 14px 20px;
	width: 280px;
	border-radius: 14px;
	outline: none;
	color: #6A6A6A;
	/* transition: 0.25s; */
}

.box input[type="submit"] {
	font-weight: bold;
	border: 0;
	background: #F50E4F;
	display: block;
	margin: 20px auto;
	text-align: center;
	padding: 14px 40px;
	width: 280px;
	border-radius: 14px;
	outline: none;
	color: white;
	cursor: pointer;
	border: 0;
}